#
Win32
x64/
test/
streamreader_d.exe
streamreader64_d.exe
*.csv
*.zip
*.opensdf
*.sdf
*.suo
*.user
*.log
*.bak
*.wav
*.dat
*.mp4
*.m2ts
*.ts
*.tts
*.pes
*.h264
*.h265
*.pat
*.pmt
*.wav
*.es
*.jpg
*.test
*.bmp
*.ilk
*.pdb
*.db
*.db-journal

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
